@mixin button-styles($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
  padding: 10px 20px;
  border: none;
  cursor: pointer;

  &:hover {
    background-color: darken($bg-color, 10%);
  }
}

@mixin flex-column-container($gap) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
