@import '@/styles/variables.module.scss';

.formOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.title {
  color: $primary-color;
  font-size: 24px;
  margin-bottom: 16px;
}

.content {
  margin-bottom: 24px;
}

.buttonContainer {
  align-self: flex-end;
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.closeButton {
  position: absolute;
  top: -20px;
  right: -20px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;

  &:hover {
    transform: rotate(90deg);
  }
}
